{% load static %}
{% block content %}


      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createitem">
        + Create Item
      </button>

<!-- Modal -->
<div class="modal fade" id="createitem" tabindex="-1" aria-labelledby="createitem" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createitem">Create Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!--body-->
      {% include "accounts/create_item_form.html" %}
    </div>
  </div>
</div>

{% endblock content %}
