{% extends 'accounts/main.html' %}

{% load static %}
{% block content %}

{% comment %} 
search Ctrl+F
    Confirm Order 
    Vegetable/Fruit
    3-CARD
    Shipping Order
{% endcomment %}

<section class="home-section ">
  {% comment %} Confirm Order {% endcomment %}
  <div class="row g-0 rounded ms-3" style="padding-right:16px">
    <div class="col-lg-7 col-xl-8 pe-lg-2 mb-3">
      <div class="card h-lg-100 overflow-hidden">
        <div class="card-header d-flex flex-between-center bg-light py-2 ">
          <h6 class="col mb-0 d-flex align-self-center ">Order Pending Confirmation</h6>
          <a class="col-md-auto py-1 fs--1 font-sans-serif" href="#!">View All</a>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive scrollbar">
            <table
              class="table table-dashboard mb-0 table-borderless fs--1 border-200"
            >
              <thead class="table">
                <tr class="text-900">
                  <th>Order id</th>
                  <th>Customer</th>
                  <th>Item</th>
                  <th>Sum cost</th>
                  <th>Location</th>
                  <th>Date/Time</th>
                  <th>Receive/Denide</th>
                </tr>
              </thead>
              {% for order in orders %}
              {% if order.order_status == 'waiting' %}
              <tbody>
                <tr class="border-bottom border-200">
                  <td>
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#" 
                            >{{order.id}}</a
                          >
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle fw-semi-bold">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#"
                            >{{order.alluser_id.email}}</a
                          >
                        </h6>
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#"
                            >{{order.alluser_id.phone_number}}</a
                          >
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        {% for order_detail in orders_detail %}
                        {% if order_detail.order_id == order %}
                          <h6 class="mb-1 fw-semi-bold">
                            <a class="text-dark " href="#">
                              {{order_detail.product_id.name}}
                              x {{order_detail.quanity}}
                            </a>
                            <a class="text-dark ms-3">
                              {{order_detail.product_id.price}}฿
                            </a>
                          </h6>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        {% for order_detail in orders_detail %}
                        {% if order_detail.order_id == order %}
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#">{{order_detail.price}}฿</a>
                        </h6>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#">
                            {{order.location_id.landmark}}
                            {{order.location_id.address_number}}
                            {{order.location_id.sub_district}}
                            {{order.location_id.district}}
                            {{order.location_id.postal}}
                            </a>
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#">
                            {{order.date_created}}
                            </a>
                        </h6>
                      </div>
                    </div>
                  </td>


                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          {% include "accounts/update_order.html" %}
                        </h6>
                        <h6 class="mb-1 fw-semi-bold">
                          {% include "accounts/cancel_order.html" %}
                        </h6>
                      </div>
                    </div>
                  </td>

                  
                </tr>
              </tbody>
              {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="card-footer bg-light py-2">
          <div class="row flex-between-center">
            <div class="col-auto">
              <select class="form-select form-select-sm">
                <option>Last 7 days</option>
                <option>Last Month</option>
                <option>Last Year</option>
              </select>
            </div>
            <div class="col-auto">
              <a class="btn btn-sm btn-falcon-default" href="#!">View All</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %} Vegetable/Fruit {% endcomment %}

    <div class="col-lg-5 col-xl-4 ps-lg-2 mb-3">
      <div class="card">
        <div class="card-header d-flex flex-between-center bg-light py-2">
          <h6 class="col mb-0 d-flex align-items-center">Vegetable</h6>
          <a class="col-md-auto py-1 fs--1 font-sans-serif" href="#!">View All</a>
        </div>

        <div class="row g-0">
          <div class="card h-lg-100 overflow-hidden">
            <div class="card-body p-0">
              <div class="table-responsive scrollbar">
                <table
                  class="table table-dashboard mb-0 table-borderless fs--1 border-200"
                >
                  <thead class="table">
                    <tr class="text-900">
                      <th>Image</th>
                      <th>Name</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  {% for product in products %}
                  <tbody>
                    <tr class="border-bottom border-200">
                      <td>
                        <div
                          class="d-flex align-items-center position-relative"
                        >
                          <div class="flex-1 ms-3">
                            <h6 class="mb-1 fw-semi-bold">
                              <a class="text-dark stretched-link" href="#!">
                                <div class="img" style="width:6rem;">
                                <img src="static\images\{{product.product_image}}" class="img-fluid" alt="Responsive image">
                                </div>
                              </a>
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle fw-semi-bold">
                        <div
                          class="d-flex align-items-center position-relative"
                        >
                          <div class="flex-1 ms-3">
                            <h6 class="mb-1 fw-semi-bold">
                              <a class="text-dark stretched-link" href="#!"
                                >{{product.name}}</a
                              >
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle pe-card">
                        <div
                          class="d-flex align-items-center position-relative"
                        >
                          <div class="flex-1 ms-3">
                            <h6 class="mb-1 fw-semi-bold">
                              <a class="text-dark stretched-link" href="#!"
                                >{{product.price}}฿</a
                              >
                            </h6>
                          </div>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    {% comment %} 3-CARD {% endcomment %}
  <div class="row " style="padding-bottom:16px ">
    <div class="col-sm">
      <div class="card h-md-100">
        <div class="card-header pb-0">
          <h6 class="mb-0 mt-2">Total Order</h6>
        </div>
        <div class="card-body d-flex flex-column justify-content-end ">
            <div class="row justify-content-between">
              <div class="col-auto align-self-end">
                <div class="fs-4 fw-normal font-sans-serif text-700 lh-1 mb-1">
                  584000฿
                </div>
              </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-auto align-self-end">
                  <div class="fs-4 fw-normal font-sans-serif text-700 lh-1 mb-1">
                    (+ 792฿)
                  </div>
                </div>
                <div class="col-auto align-self-end">
                  <a class="text-dark stretched-link" href="#!">
                    More...
                </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-sm"><div class="card h-md-100">
        <div class="card-header pb-0">
          <h6 class="mb-0 mt-2">Total Order</h6>
        </div>
        <div class="card-body d-flex flex-column justify-content-end">
            <div class="row justify-content-between">
              <div class="col-auto align-self-end">
                <div class="fs-4 fw-normal font-sans-serif text-700 lh-1 mb-1">
                  584000฿
                </div>
              </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-auto align-self-end">
                  <div class="fs-4 fw-normal font-sans-serif text-700 lh-1 mb-1">
                    (+ 792฿)
                  </div>
                </div>
                <div class="col-auto align-self-end">
                  <a class="text-dark stretched-link" href="#!">
                    More...
                </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-sm"><div class="card h-md-100 ">
        <div class="card-header pb-0">
          <h6 class="mb-0 mt-2">The Best Seller</h6>
        </div>
        <div class="card-body d-flex flex-column justify-content-end">
            <div class="row justify-content-between">
              <div class="col-auto align-self-end">
                <div class="fs-4 fw-normal font-sans-serif text-700 lh-1 mb-1">
                  <div class="img" style="width:5rem;">
                  <img src="static\images\{{best_seller.product_image}}" class="img-fluid" alt="Responsive image">
                </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-auto align-self-end">
                  <div class="fs-4 fw-normal font-sans-serif text-700 lh-1 mb-1">
                    {{best_seller.price}} / 1 piece
                  </div>
                </div>
                <div class="col-auto align-self-end">
                  <a class="text-dark stretched-link" href="#!">
                      More...
                  </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>



  {% comment %} Shipping Order {% endcomment %}
  <div class="row"style="padding-bottom:16px">
    <div class="card-header d-flex flex-between-center bg-light py-2">
      <h6 class="col mb-0 d-flex align-self-center">Orders to be Shipping</h6>
      <a class="col-md-auto py-1 fs--1 font-sans-serif" href="#!">View All</a>
    </div>
      <div class="card h-lg-100 overflow-hidden">
        <div class="card-body p-0">
          <div class="table-responsive scrollbar">
            <table
              class="table table-dashboard mb-0 table-borderless fs--1 border-200"
            >
              <thead class="table">
                <tr class="text-900">
                  <th>Order id</th>
                  <th>Customer</th>
                  <th>Item</th>
                  <th>Sum cost</th>
                  <th>Location</th>
                  <th>Date/Time</th>
                  <th>Confirm Deliver</th>
                  <th>Print Receipt/
                    tax invoice number</th>
                </tr>
              </thead>

              {% for order in orders %}
              {% if order.order_status == 'shipping' %}
              <tbody>
                <tr class="border-bottom border-200">
                  <td>
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#" 
                            >{{order.id}}</a
                          >
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle fw-semi-bold">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#"
                            >{{order.alluser_id.email}}</a
                          >
                        </h6>
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#"
                            >{{order.alluser_id.phone_number}}</a
                          >
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        {% for order_detail in orders_detail %}
                        {% if order_detail.order_id == order %}
                          <h6 class="mb-1 fw-semi-bold">
                            <a class="text-dark " href="#">
                              {{order_detail.product_id.name}}
                              x {{order_detail.quanity}}
                            </a>
                            <a class="text-dark ms-3">
                              {{order_detail.product_id.price}}฿
                            </a>
                          </h6>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        {% for order_detail in orders_detail %}
                        {% if order_detail.order_id == order %}
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#">{{order_detail.price}}฿</a>
                        </h6>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#">
                            {{order.location_id.landmark}}
                            {{order.location_id.address_number}}
                            {{order.location_id.sub_district}}
                            {{order.location_id.district}}
                            {{order.location_id.postal}}
                            </a>
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#">
                            {{order.date_created}}
                            </a>
                        </h6>
                        
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          {% include "accounts/shipping_order.html" %}
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#!"
                            >Print Receipt/
                            tax invoice number</a>
                        </h6> 
                      </div>  
                      <img src="{% static 'images/Group 124.png' %}" class="img-fluid" alt="Responsive image">
                    </div>
                  </td>
          </tr>
              </tbody>
              {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer bg-light py-2">
          <div class="row flex-between-center">
            <div class="col-auto">
              <select class="form-select form-select-sm">
                <option>Last 7 days</option>
                <option>Last Month</option>
                <option>Last Year</option>
              </select>
            </div>
            <div class="col-auto">
              <a class="btn btn-sm btn-falcon-default" href="#!">View All</a>
            </div>
          </div>
      </div>
    </div>
</section>

{% endblock content %}
