
{% load static %}
{% block content %} 



            <button type="submit" class="form-control btn rounded submit mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal{{product.id}}">
              <div class="img" style="width:3rem;">
                <img src="\static\images\trash.png" class="img-fluid" alt="Responsive image">
                </div>
            </button>
            
   
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{product.id}}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel{{product.id}}">Delete</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{% url 'delete' product.id %}" method="POST">
          <div class="modal-body">
            <div class="mb-3">
                <label class="label" for="name">Are you sure delete {{product.name}}(Id : {{product.id}})</label>
              </div>
              {% csrf_token %}
          </div>
          <div class="modal-footer">
            <div class="form-group">
              <input type="submit" class="btn btn-danger" value="Delete!" name="Delete!">
          </div>
          {% comment %} <div class="col-2">
            <button type="submit" class="form-control btn btn-success rounded submit px-3" href="{% url "item/" %}">
                Cancel
            </button>
          </div> {% endcomment %}
            
          </form>
          {% comment %} <a href="{% url "item/" %}">
            Cancel
          </a> {% endcomment %}

        </div>
      </div>
    </div>

{% endblock %}