
{% extends 'accounts/main.html' %} 
{% load static %}
{% block content %}

<section class="home-section vh-100">
  {% comment %} Confirm Order {% endcomment %}
  <div class="row g-0 rounded ms-3" style="padding-right:16px">
    
  
      <div class="col-lg-7 col-xl-12 pe-lg-2 mb-3">
        <div class="card h-lg-100 ">
          <div class="card-header d-flex flex-between-center bg-light py-2 ">
            <div class="container">
              <div class="row">
                <h6 class="col mb-0 d-flex align-self-center ">Manage item</h6>
                
                <div class="col-3" >
                  {% include "accounts/create_item.html" %}
                </div>
                {% comment %} <div class="col-3">
                  <button type="submit" class="form-control btn btn-danger rounded submit px-3 " disabled >
                   - Delete Item
                  </button>
                  </div>
                <div class="col-2">
                    <button type="submit" class="form-control btn btn-success rounded submit px-3">
                      Status:ON
                    </button>
                    </div>
                <div class="col-2">
                  <button type="submit" class="form-control btn btn-danger rounded submit px-3">
                    Status:OF
                  </button>
                </div> {% endcomment %}
              </div>
              </div>
          </div>
          <div id="includedContent"></div>
          <div class="card-body p-0">
            <div class="table-responsive scrollbar">
              <table
                class="table table-dashboard mb-0 table-borderless fs--1 border-200"
              >
                <thead class="table">
                  <tr class="text-900">
                    {% comment %} <th>checkbox</th> {% endcomment %}
                    <th>image</th>
                    <th>name</th>
                    <th>type</th>
                    <th>price</th>
                    <th>status</th>
                    <th>Quantity</th>
                    
                  </tr>
                </thead>
                {% for product in products %}
                <tbody>
                  <tr class="border-bottom border-200">
                    {% comment %} <td>
                      <div class="d-flex align-items-center position-relative">
                        <div class="flex-1 ms-3">
                          <input type="checkbox"  onchange="document.getElementById('grabaperaus').disable = !this.checked;" >
                          <input class="form-check-input"  type="checkbox" value="" id="flexCheckDefault">
                          
                        </div>
                      </div>
                    </td> {% endcomment %}
                    <td class="align-middle pe-card">
                      <div class="d-flex align-items-center position-relative">
                        <div class="flex-1 ms-3">
                          <div class="img" style="width:6rem;">
                            <img src="\static\images\{{product.product_image}}" class="img-fluid" alt="Responsive image">
                            </div>
                         
                        </div>
                      </div>
                    </td>
                    <td class="align-middle pe-card">
                      <div class="d-flex align-items-center position-relative">
                        <div class="flex-1 ms-3">
                          <h6 class="mb-1 fw-semi-bold">
                            <a class="text-dark stretched-link" href="#"
                              >{{product.name}}</a
                            >
                          </h6>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle pe-card">
                      <div class="d-flex align-items-center position-relative">
                        <div class="flex-1 ms-3">
                          <h6 class="mb-1 fw-semi-bold">
                            <a class="text-dark stretched-link" href="#">
                              {{product.type}}
                            </a>
                          </h6>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle pe-card">
                      <div class="d-flex align-items-center position-relative">
                        <div class="flex-1 ms-3">
                          <h6 class="mb-1 fw-semi-bold">
                            <a class="text-dark stretched-link" href="#"
                              >{{product.price}}฿</a
                            >
                          </h6>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle pe-card">
                      <div class="d-flex align-items-center position-relative">
                        <div class="flex-1 ms-3">
                          <h6 class="mb-1 fw-semi-bold">
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                              </div>
                              
                        </div>
                      </div>
                    </td>
                    <td class="align-middle pe-card">
                      <div class="d-flex align-items-center position-relative">
                        <div class="flex-1 ms-3">
                          <h6 class="mb-1 fw-semi-bold">
                            <a class="text-dark stretched-link" href="#"
                              >{{product.quanity}}</a
                            >
                          </h6>
                        </div>
                      </div>
                    </td>
                    
                    <td class="align-middle pe-card">
                      {% comment %} <div class="d-flex align-items-center position-relative">
                        <div class="flex-1 ms-3">
                          <h6 class="mb-1 fw-semi-bold">
                            <a class="text-dark stretched-link" href="#">
                              <img src="{% static 'images\edit.png' %}" class="w-100 h-100">
                            </a>
                          </h6>
                        </div>
                      </div> {% endcomment %}
                      {% include "accounts/update_item.html" %}
                    </td>
                    
                    <td class="align-middle pe-card">
                      <div class="d-flex align-items-center position-relative">
                        <div class="flex-1 ms-3">
                          <h6 class="mb-1 fw-semi-bold">
                            {% include "accounts/delete_item.html" %}
                          </h6>
                        </div>
                      </div>
                    </td>
                      
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>
          </div>
          <div class="card-footer bg-light py-2">
            <div class="row flex-between-center">
              <div class="col-auto">
                <select class="form-select form-select-sm">
                  <option>Last 7 days</option>
                  <option>Last Month</option>
                  <option>Last Year</option>
                </select>
              </div>
              <div class="col-auto">
                <a class="btn btn-sm btn-falcon-default" href="#!">View All</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
{% endblock content %}
