{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "accounts/head_part.html" %}

    <title>login</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style.css' %}"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

  </head>

  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="wrap d-md-flex">
              <div
                class="img"
                style="background-image: url({% static 'images\cabbage.png' %})"
              >
                <!-- <img src="{% static 'images/bg-1.jpg' %}"> -->
              </div>
              <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                  <div class="w-100">
                    <h3 class="mb-4">Sign In</h3>
                  </div>
                  <div class="w-100">
                    <p class="social-media d-flex justify-content-end">
                      <a
                        href="#"
                        class="social-icon d-flex align-items-center justify-content-center"
                        ><span class="fa fa-facebook"></span
                      ></a>
                      <a
                        href="#"
                        class="social-icon d-flex align-items-center justify-content-center"
                        ><span class="fa fa-twitter"></span
                      ></a>
                    </p>
                  </div>
                </div>
                <form method="POST" action="#" class="signin-form">
                  {% csrf_token %}
                  <div class="form-group mb-3">
                    <label class="label" for="name">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="username"
                      name="username"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="password"
                      name="password"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input class="form-control btn btn-primary rounded submit px-3" type="submit" value="Sign In">
                  </div>
                  <div class="form-group d-md-flex">
                    <div class="w-50 text-left">
                      <label class="checkbox-wrap checkbox-primary mb-0"
                        >Remember Me
                        <input type="checkbox" checked />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="w-50 text-md-right">
                      <a href="#">Forgot Password</a>
                    </div>
                  </div>
                </form>
                {% for message in messages %}
                  <p id="message"> {{message}} <p>
                {% endfor %}
                <p class="text-center">
                  Not a member? <a data-toggle="tab" href="{% url 'register' %}">Sign Up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
