{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "accounts/head_part.html" %}
</head>
<body>
    {% include "accounts/sidebars2.html" %}
    {% block content %}
      
    {% endblock content %}

</body>

</html>