<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="#" method="POST">
        <div class="modal-body">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label class="label" for="name">Name</label>
              {{form.name}}
            </div>
            <div class="form-group mb-3">
              <label class="label" for="name">Description</label>
              {{form.description}}
            </div>
            <div class="form-group mb-3">
              <label class="label" for="name">Price</label>
              {{form.price}}
            </div>
            <div class="form-group mb-3">
              <label class="label" for="name">Shop Id</label>
              {{form.shop_id}}
            </div>
            <div class="form-group mb-3">
              <label class="label" for="name">Discount Id</label>
              {{form.discount_id}}
            </div>
            <div class="form-group mb-3">
              <label class="label" for="name">Stock Id</label>
              {{form.stock_id}}
            </div>
            <div class="form-group mb-3">
              <label class="label" for="name">Product Image</label>
              {{form.product_image}}
            </div>
            <div class="form-group mb-3">
              <label class="label" for="name">type</label>
              {{form.type}}
            </div>
  
          
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <input type="submit" class="btn btn-success" value="Create!" name="Create!">
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>