{% load static %}
{% block content %}


<button type="submit" class="form-control btn rounded submit px-3" data-bs-toggle="modal" data-bs-target="#orderdetail{{order.id}}">
    Veiw Detail
  </button>


  <div class="modal fade" id="orderdetail{{order.id}}" tabindex="-1" aria-labelledby="detailorderLabel{{order.id}}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailorderLabel{{order.id}}">Veiw Detail Order : {{order.id}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!--body-->
        <form action="{% url 'orderdetail' order.id %}" method="POST">
            <div class="modal-body">
                <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4"> 
                    </div>
                    <div class="col-md-4 ms-auto">{{order.id}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3 ms-auto"></div>
                    <div class="col-md-2 ms-auto">{{order.alluser_id.location}}</div>
                </div>
                <div class="row">
            <div class="col-md-6 ms-auto">{{order.amount}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                    Level 1: .col-sm-9
                    <div class="row">
                        <div class="col-8 col-sm-6">
                        Level 2: .col-8 .col-sm-6
                        </div>
                        <div class="col-4 col-sm-6">
                        Level 2: .col-4 .col-sm-6
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </form>
    </div>
  </div>



{% endblock content %} 
