{% extends 'accounts/main.html' %} 
{% load static %}
{% block content %}



<section class="home-section vh-100">
<div class="row g-0 rounded ms-3" style="padding-right:16px">
    
    <div class="col-lg-7 col-xl-12 pe-lg-2 mb-3">
      <div class="card h-lg-100 ">
        <div class="card-header d-flex flex-between-center bg-light py-2 ">
          <h6 class="col mb-0 d-flex align-self-center ">Overall</h6>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive scrollbar">
            <table
              class="table table-dashboard mb-0 table-borderless fs--1 border-200">
              <thead class="table">
                <tr class="text-900">
                  <th>Order id</th>
                  <th>Customer</th>
                  <th>Item</th>
                  <th>Sum cost</th>
                  <th>Location</th>
                  <th>Date/Time</th>
                  <th>Status: Receive/Denide, Shipping, Success/Cancel</th>
                </tr>
              </thead>
              {% for order in orders %}
              <tbody>
                <tr class="border-bottom border-200">
                  <td>
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#!"
                            >{{order.id}}</a
                          >
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle fw-semi-bold">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#!"
                            >{{order.alluser_id.email}}</a
                          >
                        </h6>
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#!"
                            >{{order.alluser_id.phone_number}}</a
                          >
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        {% for order_detail in orders_detail %}
                        {% if order_detail.order_id == order %}
                          <h6 class="mb-1 fw-semi-bold">
                            <a class="text-dark " href="#!">
                              {{order_detail.product_id.name}}
                              x {{order_detail.quanity}}
                            </a>
                            <a class="text-dark ms-3">
                              {{order_detail.product_id.price}}฿
                            </a>
                          </h6>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        {% for order_detail in orders_detail %}
                        {% if order_detail.order_id == order %}
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#!">{{order_detail.price}}฿</a>
                        </h6>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#!"
                            >
                            {{order.location_id.landmark}}
                            {{order.location_id.address_number}}
                            {{order.location_id.sub_district}}
                            {{order.location_id.district}}
                            {{order.location_id.postal}}
                            </a
                          >
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#" >
                            {{order.date_created}}
                            </a>
                        </h6>
                        
                      </div>
                    </div>
                  </td>

                  {% if order.order_status == 'waiting' %}
                    <td class="align-middle pe-card">
                      <div class="d-flex align-items-center position-relative">
                        <div class="flex-1 ms-3">
                          <h6 class="mb-1 fw-semi-bold">
                          {% include "accounts/update_order.html" %}
                          </h6>
                            <h6 class="mb-1 fw-semi-bold">
                          {% include "accounts/cancel_order.html" %}
                            </h6>
                            </div>
                        </div>
                    </td>

                  {% elif order.order_status == 'shipping' %}
                    <td class="align-middle pe-card">
                      <div class="d-flex align-items-center position-relative">
                        <div class="flex-1 ms-3">
                         <h6 class="mb-1 fw-semi-bold">
                            {% include "accounts/shipping_order.html" %}
                          </h6>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle pe-card">
                      <div class="d-flex align-items-center position-relative">
                        <div class="flex-1 ms-3">
                          <h6 class="mb-1 fw-semi-bold">
                            <a class="text-dark stretched-link" href="#!"
                              >Print Receipt/
                              tax invoice number</a>
                          </h6> 
                        </div>  
                        <img src="{% static 'images\Group 124.png' %}" class="img-fluid" alt="Responsive image">
                      </div>
                    </td>

                  {% elif order.order_status == 'success' %}
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#!"
                            >
                            {{order.order_status}}
                            </a>
                        </h6>
                      </div>
                    </div>
                  </td>

                  {% else %}
                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                          <a class="text-dark stretched-link" href="#!"
                            >
                            {{order.order_status}}
                            </a>
                        </h6>
                      </div>
                    </div>
                  </td>

                  

                  {% endif %}

                  <td class="align-middle pe-card">
                    <div class="d-flex align-items-center position-relative">
                      <div class="flex-1 ms-3">
                        <h6 class="mb-1 fw-semi-bold">
                            {% include 'accounts/order_detail.html'%}
                        </h6>
                      </div>
                    </div>
                  </td>


          </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="card-footer bg-light py-2">
          <div class="row flex-between-center">
            <div class="col-auto">
              <select class="form-select form-select-sm">
                <option>Last 7 days</option>
                <option>Last Month</option>
                <option>Last Year</option>
              </select>
            </div>
            <div class="col-auto">
              <a class="btn btn-sm btn-falcon-default" href="#!">View All</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %} 
