{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "accounts/head_part.html" %}

    <title>register2</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style.css' %}"
    />
    
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

  </head>

  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="wrap d-md-flex">
              <div
                class="img"
                style="background-image: url({% static 'images\cabbage.png' %})"
              >
                <!-- <img src="{% static 'images\cabbage.png' %}"> -->
              </div>
              <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                  <div class="w-100">
                    <h3 class="mb-4">Sign Up</h3>
                  </div>
                  <div class="w-100">
                    <p class="social-media d-flex justify-content-end">
                      <a
                        href="#"
                        class="social-icon d-flex align-items-center justify-content-center"
                        ><span class="fa fa-facebook"></span
                      ></a>
                      <a
                        href="#"
                        class="social-icon d-flex align-items-center justify-content-center"
                        ><span class="fa fa-twitter"></span
                      ></a>
                    </p>
                  </div>
                </div>
                <form method="POST" action="#" class="signup-form">
                  {% csrf_token %}
                  <div class="form-group mb-3">
                    <label class="label" for="name">Username</label>
                    {{form.username}}
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="password">Password</label>
                    {{form.password1}}
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="password">Confirm Password</label>
                    {{form.password2}}
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="phone">Phone Number</label>
                    <div class="form-group d-md-flex">
                    <input
                      type="phone"
                      class="form-control"
                      placeholder="Phone Number"
                      required
                    />
                    <div class="w-30 text-left">
                        <button
                        type="submit"
                        class="form-control btn btn-primary rounded submit px-3"
                      >
                        RequestOTP
                      </button>

                      </div>
                      </div>
                  </div>
                  <div class="form-group mb-3 text-center">
                    <label class="label" for="otp">Enter OTP 6 digits</label>
                    <input
                      type="otp"
                      class="form-control text-center"
                      placeholder="0 0 0 0 0 0"
                      required
                    />
                  </div>
                  <div class="form-group d-md-flex">
                    <div class="w-50 text-left">
                      <label class="checkbox-wrap checkbox-primary mb-0"
                        >Accept term
                        <input type="checkbox" checked />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    
                  </div>
                  <div class="form-group">
                    <input class="form-control btn btn-primary rounded submit px-3" type="submit" value="Sign Up" name="Create User">
                  </div>
                </form>
                {{form.errors}}
                <p class="text-center">
                    Already have account? <a data-toggle="tab" href="{% url 'login' %}">Sign In</a>
                    
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    	<script>
						/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
		//We start indexing at one because CSRF_token is considered and input field 
		 */

		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Enter password..';
		form_fields[3].placeholder='Re-enter Password...';
		form_fields[4].placeholder='Phone number...';


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script>
  </body>
</html>
