
{% load static %}
{% block content %} 



            <button type="submit" class="form-control btn rounded submit px-3" data-bs-toggle="modal" data-bs-target="#shippingorder{{order.id}}">
                Confirm Deliver<img src="{% static 'images\1292834.png' %}" class="img-fluid ms-2" alt="Responsive image">
            </button>


            
    <!-- Modal -->
    <div class="modal fade" id="shippingorder{{order.id}}" tabindex="-1" aria-labelledby="shippingorder{{order.id}}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="shippingorder{{order.id}}">Receive</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{% url 'confirmorder' order.id %}" method="POST">
          <div class="modal-body">
            <div class="mb-3">
                <label class="label" for="name">Are you sure receive {{order.id}}</label>
              </div>
              {% csrf_token %}
          </div>
          <div class="modal-footer">
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Receive!" name="Receive!">
          </div>
          {% comment %} <div class="col-2">
            <button type="submit" class="form-control btn btn-success rounded submit px-3" href="{% url "item/" %}">
                Cancel
            </button>
          </div> {% endcomment %}
            
          </form>
          {% comment %} <a href="{% url "item/" %}">
            Cancel
          </a> {% endcomment %}

        </div>
      </div>
    </div>

{% endblock %}