{% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static '/css/sidebars2.css' %}"
/>

<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name"><a href="{% url 'home' %}">Fresh Day</a></span>
    </div>
    <ul class="nav-links">
      
      <li>
        <div class="iocn-link">
          <a href="">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Order</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="{% url 'order' %}">Order</a></li>
          <li><a href="{% url 'order' %}">Overall</a></li>
          <li><a href="{% url 'waiting' %}">Waiting</a></li>
          <li><a href="{% url 'shipping' %}">Shipping</a></li>
          <li><a href="{% url 'successandcancel' %}">Success/Cancel</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Item</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="{% url 'item' %}">Item</a></li>
          <li><a href="{% url 'item' %}">Overall</a></li>
          <li><a href="{% url 'vegetableandfruit' %}">Vegetable/Fruit</a></li>
          <li><a href="{% url 'productvegetableandfruit' %}">Vegetable/Fruit Product</a></li>
          <li><a href="{% url 'foodanddrink' %}">Food/Drink</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-compass' ></i>
            <span class="link_name">Events</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Events</a></li>
          <li><a href="#">Coupon</a></li>
          <li><a href="#">Promotion</a></li>
        </ul>
      </li><li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-line-chart' ></i>
            <span class="link_name">Statistics</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Statistics</a></li>
          <li><a href="#">Sales Volume</a></li>
          <li><a href="#">Orders Quantity</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        
        <a href="{% url 'logout' %}" class="nav_link">
            
            <div class="profile_name">SignOut</div>
            <i class='bx bx-log-out' ></i>
          </a>
      </div>
    </div>
  </li>
</ul>
  </div>
 <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Main Page</span>
    </div>
  </section>

</body>
<script  src="{% static '/js/sidebars2.js' %}"></script>
</html>
