{% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static '/css/sidebars.css' %}"
/>

<body id="body-pd">
<header class="header" id="header">
  <div class="header_toggle">
    <i class="bi bi-list" id="header-toggle"></i>
  </div>
  <div class="header_img">
    <img src="https://i.imgur.com/hczKIze.jpg" alt="" />
  </div>
</header>
<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div>
      <a href="#" class="nav_logo">
        <i class="bi bi-layers"></i>
        <span class="nav_logo-name">Fresh Day</span>
      </a>

      
      <div class="nav_list close">
        <a href="#" class="nav_link active">
          <i class="bi bi-grid"></i>
          <span class="nav_name">Order</span>
        </a>
        <ul class = "sub_menu">
          <li>
            <a href="#" class="nav_link">
            <i class="bi bi-person"></i>
            <span class="nav_name">Over All</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav_link">
            <i class="bi bi-chat-left-text"></i>
            <span class="nav_name">Waiting</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav_link">
            <i class="bi bi-bookmark"></i>
            <span class="nav_name">Shipping</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav_link">
            <i class="bi bi-folder"></i>
            <span class="nav_name">Success/Cancel</span>
          </a>
        </li>
        </ul>
      
        
      </div>
    </div>
    <a href="/login" class="nav_link">
      <i class="bi bi-box-arrow-right"></i>
      <span class="nav_name">SignOut</span>
    </a>
    
  </nav>
</div>
<!--Container Main start-->
<div class="height-100 bg-light">
  <h4>Fresh Day</h4>
</div>

<script  src="{% static '/js/sidebars.js' %}"></script>
</body>
