
{% load static %}
{% block content %}

<div class="d-flex align-items-center position-relative">
  <div class="flex-1 ms-3">
    <h6 class="mb-1 fw-semi-bold">
      <a class="text-dark stretched-link" href="#updateitem{{product.id}}" data-bs-toggle="modal" data-bs-target="#updateitem{{product.id}}">
        <img src="{% static 'images\edit.png' %}" class="w-100 h-100">
      </a>
    </h6>
  </div>
</div>
{% comment %} 
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateitem">
  + Create Item
 </button> {% endcomment %}



<!-- Modal -->
<div class="modal fade" id="updateitem{{product.id}}" tabindex="-1" aria-labelledby="updateitem" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
 <h5 class="modal-title" id="updateitem">Edit Item</h5>
 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<!--body-->
<form action="/item/{{product.id}}" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  <div class="modal-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <div class="form-group mb-3">
                <label class="label" for="name">id</label>
              </div>
            </th>
            <td>
              {{product.id}}
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="form-group mb-3">
                <label class="label" for="name">Name</label>
              </div>
            </th>
            <td>
              <input type="text" class="form-control" value="{{product.name}}" name="name" required>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="form-group mb-3">
                <label class="label" for="name">Description</label>
              </div>
            </th>
            <td>
              <input type="text" class="form-control" value="{{product.description}}" name="description" required>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="form-group mb-3">
                <label class="label" for="name">Price</label>
              </div>
            </th>
            <td>
              <input type="text" class="form-control" value="{{product.price}}" name="price" required>
            </td>
          </tr>
          <!-- <tr>
            <th scope="row">
              <div class="form-group mb-3">
                <label class="label" for="name">Shop Id</label>
              </div>
            </th>
            <td>
              <input type="text" class="form-control" value="{{product.shop_id}}" name="shop_id" required disabled>
            </td>
          </tr> -->
          <tr>
            <th scope="row">
              <div class="form-group mb-3">
                <label class="label" for="name">Discount Id</label>
              </div>
            </th>
            <td>
              <select class="form-select" aria-label="Default select example" name="discount_id" id="id_discount_id" required>
                <option value="" selected>Open this select menu</option>
                {% for discount in discount %}
                  <option value={{discount.id}}>{{discount.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="form-group mb-3">
                <label class="label" for="name">Quanity</label>
              </div>
            </th>
            <td>
              <input type="text" class="form-control" value="{{product.quanity}}" name="quanity" required>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="form-group mb-3">
                <label class="label" for="name">Product Image</label>
              </div>
            </th>
            <td>
              <input type="file" name="product_image" accept="image/*" id="id_product_image">
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="form-group mb-3">
                <label class="label" for="name">Type</label>
              </div>
            </th>
            <td>
              <select class="form-select" aria-label="Default select example" name="type">
                <option selected>Open this select menu</option>
                  <option value="vegetableandfruit">vegetableandfruit</option>
                  <option value="producvegetableandfruit">producvegetableandfruit</option>
                  <option value="foodanddrink">foodanddrink</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="modal-footer">
    <div class="form-group">
      <input type="submit"  class="btn btn-success" value="Create!" name="Create!">
    </div>
  </div>
</form>
</div>
</div>
</div>


{% endblock content %}
