
{% extends 'accounts/main.html' %} 
{% load static %}
{% load  %}
{% block content %}

<section class="home-section vh-100">
    <form action="#" method="POST">
            {% csrf_token %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <div class="form-group mb-3">
                      <label class="label" for="name">Name</label>
                    </div>
                  </th>
                  <td>
                    {{form.name}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="form-group mb-3">
                      <label class="label" for="name">Description</label>
                    </div>
                  </th>
                  <td>
                    {{form.description}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="form-group mb-3">
                      <label class="label" for="name">Price</label>
                    </div>
                  </th>
                  <td>
                    {{form.price}}
                  </td>
                </tr>
                <tr>
                    <th scope="row">
                      <div class="form-group mb-3">
                        <label class="label" for="name">Shop Id</label>
                      </div>
                    </th>
                    <td>
                      {{form.shop_id}}
                    </td>
                  </tr>
                <tr>
                  <th scope="row">
                    <div class="form-group mb-3">
                      <label class="label" for="name">Discount Id</label>
                    </div>
                  </th>
                  <td>
                    {{form.discount_id}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="form-group mb-3">
                      <label class="label" for="name">Quantity</label>
                    </div>
                  </th>
                  <td>
                    {{form.quanity}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="form-group mb-3">
                      <label class="label" for="name">Product Image</label>
                    </div>
                  </th>
                  <td>
                    {{form.product_image}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="form-group mb-3">
                      <label class="label" for="name">Type</label>
                    </div>
                  </th>
                  <td>
                    {{form.type}}
                  </td>
                </tr>
              </tbody>
            </table>
        <div class="modal-footer">
          <div class="form-group">
            <input type="submit" class="btn btn-success" value="Create!" name="Create!">
          </div>
        </div>
      </form>
</section>



{% endblock content %}
